#decklist {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vw;
    padding: 10px; 
}

.deck {
    display: flex;
    flex-direction: column;

    padding: 1vw 1vw 1vw 1vw;

    background-color: #EBEBED;
}

.deck-title {
    

    font-size: 4.5vw;
    text-align: center;
}

.deck-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 1vw;

    font-size: 3vw;
}

.deck-btn {
    background: #6F788D;
    padding: .5vw;
    border-radius: 50%;

    height: 3.3vw;
    width: 3vw;
}
