/*
 * Style that is specific to the 'Home' window. 
 */

.deck {
    display: flex;
    flex-direction: column;

    padding: 1vw 1vw 1vw 1vw;

    background-color: var(--lightest);
}

.deck-title {
    font-size: var(--deck-font-size);
    text-align: center;

    cursor: default;
}

.deck-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 1vw;

    font-size: 3vw;
}

.deck-btn {
    background: var(--darker);
    padding: .5vw;
    border-radius: 50%;

    height: 3.3vw;
    width: 3vw;

    cursor: default;
}
