/*
 * The base style classes. 
 */

body {
    width: 100%;
    height: 100%;;
    margin: 0px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: .5vw;

    color: #1a202d;

    text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}